<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NTNU</key>
	<array>
		<dict>
			<key>Name</key>
			<string>0</string>
			<key>Start</key>
			<string>07:10</string>
			<key>End</key>
			<string>08:00</string>
		</dict>
        <dict>
            <key>Name</key>
            <string>1</string>
            <key>Start</key>
            <string>08:10</string>
            <key>End</key>
            <string>09:00</string>
        </dict>
		<dict>
            <key>Name</key>
            <string>2</string>
            <key>Start</key>
            <string>09:10</string>
            <key>End</key>
            <string>10:00</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>3</string>
            <key>Start</key>
            <string>10:20</string>
            <key>End</key>
            <string>11:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>4</string>
            <key>Start</key>
            <string>11:20</string>
            <key>End</key>
            <string>12:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>5</string>
            <key>Start</key>
            <string>12:20</string>
            <key>End</key>
            <string>13:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>6</string>
            <key>Start</key>
            <string>13:20</string>
            <key>End</key>
            <string>14:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>7</string>
            <key>Start</key>
            <string>14:20</string>
            <key>End</key>
            <string>15:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>8</string>
            <key>Start</key>
            <string>15:30</string>
            <key>End</key>
            <string>16:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>9</string>
            <key>Start</key>
            <string>16:30</string>
            <key>End</key>
            <string>17:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>10</string>
            <key>Start</key>
            <string>17:30</string>
            <key>End</key>
            <string>18:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>A</string>
            <key>Start</key>
            <string>18:40</string>
            <key>End</key>
            <string>19:30</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>B</string>
            <key>Start</key>
            <string>19:35</string>
            <key>End</key>
            <string>20:25</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>C</string>
            <key>Start</key>
            <string>20:30</string>
            <key>End</key>
            <string>21:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>D</string>
            <key>Start</key>
            <string>21:25</string>
            <key>End</key>
            <string>22:15</string>
        </dict>
	</array>
	<key>NTU</key>
    <array>
        <dict>
            <key>Name</key>
            <string>0</string>
            <key>Start</key>
            <string>07:10</string>
            <key>End</key>
            <string>08:00</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>1</string>
            <key>Start</key>
            <string>08:10</string>
            <key>End</key>
            <string>09:00</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>2</string>
            <key>Start</key>
            <string>09:10</string>
            <key>End</key>
            <string>10:00</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>3</string>
            <key>Start</key>
            <string>10:20</string>
            <key>End</key>
            <string>11:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>4</string>
            <key>Start</key>
            <string>11:20</string>
            <key>End</key>
            <string>12:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>5</string>
            <key>Start</key>
            <string>12:20</string>
            <key>End</key>
            <string>13:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>6</string>
            <key>Start</key>
            <string>13:20</string>
            <key>End</key>
            <string>14:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>7</string>
            <key>Start</key>
            <string>14:20</string>
            <key>End</key>
            <string>15:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>8</string>
            <key>Start</key>
            <string>15:30</string>
            <key>End</key>
            <string>16:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>9</string>
            <key>Start</key>
            <string>16:30</string>
            <key>End</key>
            <string>17:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>10</string>
            <key>Start</key>
            <string>17:30</string>
            <key>End</key>
            <string>18:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>A</string>
            <key>Start</key>
            <string>18:25</string>
            <key>End</key>
            <string>19:15</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>B</string>
            <key>Start</key>
            <string>19:20</string>
            <key>End</key>
            <string>20:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>C</string>
            <key>Start</key>
            <string>20:15</string>
            <key>End</key>
            <string>21:05</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>D</string>
            <key>Start</key>
            <string>21:10</string>
            <key>End</key>
            <string>22:00</string>
        </dict>
    </array>
    <key>NTUST</key>
    <array>
        <dict>
            <key>Name</key>
            <string>0</string>
            <key>Start</key>
            <string>07:10</string>
            <key>End</key>
            <string>08:00</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>1</string>
            <key>Start</key>
            <string>08:10</string>
            <key>End</key>
            <string>09:00</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>2</string>
            <key>Start</key>
            <string>09:10</string>
            <key>End</key>
            <string>10:00</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>3</string>
            <key>Start</key>
            <string>10:20</string>
            <key>End</key>
            <string>11:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>4</string>
            <key>Start</key>
            <string>11:20</string>
            <key>End</key>
            <string>12:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>5</string>
            <key>Start</key>
            <string>12:20</string>
            <key>End</key>
            <string>13:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>6</string>
            <key>Start</key>
            <string>13:20</string>
            <key>End</key>
            <string>14:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>7</string>
            <key>Start</key>
            <string>14:20</string>
            <key>End</key>
            <string>15:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>8</string>
            <key>Start</key>
            <string>15:30</string>
            <key>End</key>
            <string>16:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>9</string>
            <key>Start</key>
            <string>16:30</string>
            <key>End</key>
            <string>17:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>10</string>
            <key>Start</key>
            <string>17:30</string>
            <key>End</key>
            <string>18:20</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>A</string>
            <key>Start</key>
            <string>18:25</string>
            <key>End</key>
            <string>19:15</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>B</string>
            <key>Start</key>
            <string>19:20</string>
            <key>End</key>
            <string>20:10</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>C</string>
            <key>Start</key>
            <string>20:15</string>
            <key>End</key>
            <string>21:05</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>D</string>
            <key>Start</key>
            <string>21:10</string>
            <key>End</key>
            <string>22:00</string>
        </dict>
    </array>
</dict>
</plist>
